appdirs==1.4.4
audioread==2.1.9
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
cycler==0.11.0
decorator==5.1.1
fonttools==4.33.2
idna==3.3
joblib==1.1.0
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.0
matplotlib==3.5.1
munkres==1.1.4
numba==0.55.1
numpy==1.21.6
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pip==22.0.4
pooch==1.6.0
powerline-status==2.7
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.8
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
resampy==0.2.2
scikit-learn==1.0.2
scikit-plot==0.3.7
scipy==1.8.0
seaborn==0.11.2
setuptools==62.1.0
six==1.16.0
sklearn==0.0
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.2.0
unicodedata2==14.0.0
urllib3==1.26.9
wheel==0.37.1
